.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
/* background */
.nav-black {
    background-color: #111;
}
.nav-logo {
    position: fixed;
    left: 10px;
    padding-top: 5px;
    width: 80px;
    object-fit: contain;
}
.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
